.todoDetailsModal {
  background-color: #ebf2ff;
  border-radius: 10px;
  width: 550px;
  min-height: 500px;
  border: none;
  position: relative;
}

/* todo details modal backdrop */
.todoDetailsModal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.topFlexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b0c4de;
}

.todoDetailsModalHeading {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Inter, sans-serif;
  padding: 10px 0px 10px 5px;
}

.todoTitleTextField {
  margin-top: 10px;
  margin-bottom: 10px;
}

.formElement {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
}

.dueDatePriorityFlexContainer {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  align-items: center;
}

.saveButtonFlexContainer {
  display: flex;
  justify-content: space-between;
}

/* For Add Todo Modals, the delete button is hidden and the save button should touch the flex-end */
dialog.addTodoModal .deleteButton {
  display: none;
}

dialog.addTodoModal .saveButtonFlexContainer {
  justify-content: flex-end;
}
