ul.dynamic_lists {
  list-style-type: none;
  padding: 0;
  margin-left: 1.5rem;
  color: #c7dfff;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

ul.dynamic_lists > li {
  /* background-color: rgba(127, 255, 212, 0.264); */
  margin: 0px 20px 0px 0px;
  padding: 8px 10px;
  border-radius: 6px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
}

ul.dynamic_lists > .dynamic_list_item_selected {
  padding: 10px 10px;
  background-color: white;
  color: #30304b;
}
